ul {
   
    background-color: grey;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
ul li {
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    
}
